:root {

  /* colors */
  --color-background:   #FFFFFF;
  --color-menu:         rgba(0, 0, 0, 0.03);
  --color-offside:      rgba(0, 0, 0, 0.09);
  --color-primary:      rgba(0, 0, 0, 0.75);
  --color-secondary:    rgba(0, 0, 0, 0.45);
  --color-tertiary:     rgba(0, 0, 0, 0.21);
  --color-accent:       #ED7041;

  --color-attribute:    #9E559D;
  --color-value:        #C56752;
  --color-literal:      #0A7F81;

  /* fonts */
  --body-font: 'Cabin', sans-serif;
  --mono-font: 'Inconsolata', monospace;

  /* measurements */
  --max-width: 72em;
  --menu-width: 16em;
  --body-size: 16px;
  --small-size: calc(14 / 16);
  --big-size: calc(20 / 16);
  --line-height: calc(1em * 30 / 16);
  --border-radius: 6px;
  --fade-speed: 0.15s;

}
