<div class="home">
  <h4>Info</h4>
  <h1>Fortune is a <em>high-level I/O library for web applications</em>, featuring storage adapters and data serializers for the server and browser.</h1>
  <p>The latest version is <strong>{{version}}</strong>. Get it from <code>npm</code>:</p>
  <div class="download">
    <pre><code>npm install fortune@latest --save</code></pre><!--
    --><a href="https://github.com/fortunejs/fortune/archive/master.zip"><span>⚑</span>Download</a>
  </div>
  <hr>
  <h4>Example</h4>
</div>
